/dts-v1/;
/plugin/;

/ {

    fragment@0 {
        target=<&am33xx_pinmux>;
        __overlay__ {
            dht11_p8_gpios: bone_p8_gpios {
                pinctrl-single,pins = <(0x68) (0x8) (0x7)>;
            };
        };
    };

    fragment@1 {
        target-path="/";
        __overlay__ {
            dht11 {
                compatible = "michelotti,dht11", "dht11";
                pinctrl-names = "default";
                pinctrl-0 = <&dht11_p8_gpios>;
                status = "okay";
                data-gpios = <&gpio2 24 0>;
            };
        };
    };
};
